.venv/
backend/app/data/reports/**/*

# typical python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# do we typically ignore the .egg-info folder?
*.egg-info/

# ignore the .DS_Store file
.DS_Store

# svelte related ignores
node_modules/
svelte-kit/
